__pycache__/
.pytest_cache
.DS_Store
artifacts/
venv

# libs
adafruit_drv2605.py
adafruit_lsm303_accel.py
adafruit_lsm6ds/
adafruit_mcp9808.py
adafruit_register/
adafruit_tca9548a.py
adafruit_veml7700.py
neopixel.py
