__pycache__/
.pytest_cache
.DS_Store
artifacts/
venv

# libs
adafruit_drv2605.py
adafruit_lis2mdl.py
adafruit_lsm303_accel.py
adafruit_mcp9808.py
adafruit_ov5640/
adafruit_pca9685.py
adafruit_register/
adafruit_tca9548a.py
adafruit_ticks.py
adafruit_veml7700.py
neopixel.py
