absl-py==2.1.0
Adafruit-Blinka==8.50.0
adafruit-circuitpython-busdevice==5.2.10
adafruit-circuitpython-connectionmanager==3.1.2
adafruit-circuitpython-requests==4.1.8
adafruit-circuitpython-typing==1.11.2
Adafruit-PlatformDetect==3.75.0
Adafruit-PureIO==1.1.11
addict==2.4.0
aiofiles==22.1.0
aiosqlite==0.18.0
albumentations==1.3.1
altgraph @ file:///AppleInternal/Library/BuildRoots/2c89a47b-9dd5-11ef-938f-6e654a286000/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
aniso8601==9.0.1
annotated-types==0.7.0
anyio==3.6.2
appnope==0.1.3
arduino-cli-cmake-wrapper==0.1.0
argcomplete==3.5.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.2.1
astunparse==1.6.3
attrs==22.2.0
Babel==2.11.0
backcall==0.2.0
basicsr==1.4.2
beautifulsoup4==4.11.2
binaryornot==0.4.4
binho-host-adapter==0.1.6
black==24.4.2
bleach==6.0.0
blinker==1.8.2
Brotli==1.1.0
cachetools==5.4.0
certifi==2024.8.30
cffi==1.15.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.0
Cheetah3==3.2.6.post1
circuitpython-stubs==9.2.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==2.2.1
coloredlogs==15.0.1
colorlog==6.8.2
comm==0.1.2
contourpy==1.1.0
cookiecutter==2.6.0
customtkinter==5.2.2
cycler==0.11.0
Cython==3.0.11
darkdetect==0.8.0
dask==2023.8.1
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
diskcache==5.6.1
distlib==0.3.8
easydict==1.13
et-xmlfile==1.1.0
exceptiongroup==1.2.2
executing==1.2.0
facexlib==0.3.0
fastapi==0.102.0
fastjsonschema==2.16.2
filelock==3.15.4
filterpy==1.4.5
Fiona==1.9.4.post1
flake8==7.1.0
Flask==3.0.3
Flask-Compress==1.15
Flask-RESTful==0.3.10
flatbuffers==24.3.25
fonttools==4.42.0
fprime-bootstrap==1.1.1
fprime-fpl-convert-xml==1.0.3
fprime-fpl-extract-xml==1.0.3
fprime-fpl-layout==1.0.3
fprime-fpl-write-pic==1.0.3
fprime-fpp-check==2.2.0
fprime-fpp-depend==2.2.0
fprime-fpp-filenames==2.2.0
fprime-fpp-format==2.2.0
fprime-fpp-from-xml==2.2.0
fprime-fpp-locate-defs==2.2.0
fprime-fpp-locate-uses==2.2.0
fprime-fpp-syntax==2.2.0
fprime-fpp-to-cpp==2.2.0
fprime-fpp-to-dict==2.2.0
fprime-fpp-to-json==2.2.0
fprime-fpp-to-xml==2.2.0
fprime-gds==3.5.0
fprime-tools==3.5.0
fprime-visual==1.0.2
fqdn==1.5.1
fsspec==2023.6.0
future @ file:///AppleInternal/Library/BuildRoots/2c89a47b-9dd5-11ef-938f-6e654a286000/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
gast==0.4.0
gcovr==8.2
gdown==5.2.0
geopandas==0.13.2
gfpgan==1.3.8
google-auth==2.33.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.65.4
h11==0.14.0
h5py==3.11.0
humanfriendly==10.0
identify==2.6.0
idna==3.10
imageio==2.34.2
importlib-metadata==6.7.0
importlib-resources==6.0.1
iniconfig==2.0.0
insightface==0.7.3
ipykernel==6.21.2
ipython==8.10.0
ipython-genutils==0.2.0
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.18.2
Jinja2==3.1.4
joblib==1.4.2
json5==0.9.11
jsonpointer==2.3
jsonschema==4.17.3
jupyter-events==0.6.3
jupyter-ydoc==0.2.2
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyter_server==2.3.0
jupyter_server_fileid==0.7.0
jupyter_server_terminals==0.4.4
jupyter_server_ydoc==0.6.1
jupyterlab-pygments==0.2.2
jupyterlab_server==2.19.0
keras==2.13.1
kiwisolver==1.4.4
lazy_loader==0.4
libclang==18.1.1
llama-cpp-python==0.1.79
llvmlite==0.43.0
lmdb==1.5.1
locket==1.0.0
lxml==5.3.0
macholib @ file:///AppleInternal/Library/BuildRoots/2c89a47b-9dd5-11ef-938f-6e654a286000/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.7.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mistune==2.0.5
mpmath==1.3.0
mypy-extensions==1.0.0
nbclassic==0.5.2
nbclient==0.7.2
nbconvert==7.2.9
-e git+ssh://git@github.com/nateinaction/nbdev_cards.git@89c30aa0a662566793c049b9094cfbb3389b521a#egg=nbdev_cards
nbformat==5.7.3
nest-asyncio==1.5.6
networkx==3.2.1
nodeenv==1.9.1
notebook==6.5.2
notebook_shim==0.2.2
numba==0.60.0
numpy==1.23.5
oauthlib==3.2.2
onnx==1.16.0
onnxruntime-silicon==1.16.3
opencv-python==4.8.1.78
opencv-python-headless==4.10.0.84
opennsfw2==0.10.2
openpyxl==3.1.5
opt-einsum==3.3.0
packaging==24.1
pandas==2.0.3
pandocfilters==1.5.0
parso==0.8.3
partd==1.4.0
pathspec==0.12.1
pexpect==4.9.0
pickleshare==0.7.5
Pillow==9.5.0
platformdirs==4.2.2
pluggy==1.5.0
pre-commit==3.8.0
prettytable==3.10.2
prometheus-client==0.16.0
prompt-toolkit==3.0.36
protobuf==4.23.2
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycodestyle==2.12.0
pycparser==2.21
pydantic==2.9.2
pydantic-settings==2.0.3
pydantic_core==2.23.4
pyflakes==3.2.0
pyftdi==0.56.0
Pygments==2.18.0
pyparsing==3.0.9
pyproj==3.6.0
pyrsistent==0.19.3
pyserial==3.5
PySocks==1.7.1
pytest==8.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-json-logger==2.0.6
python-slugify==8.0.4
pytz==2024.2
pyusb==1.2.1
PyYAML==6.0.1
pyzmq==26.2.0
qudida==0.0.4
requests==2.32.3
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.2
rsa==4.9
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.11.2
Send2Trash==1.8.0
shapely==2.0.1
six==1.16.0
sniffio==1.3.0
soupsieve==2.4
sse-starlette==1.6.5
stack-data==0.6.2
starlette==0.27.0
sympy==1.13.1
tb-nightly==2.18.0a20240810
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.0rc1
tensorflow-estimator==2.13.0
tensorflow-macos==2.13.0rc1
termcolor==2.4.0
terminado==0.17.1
text-unidecode==1.3
-e git+ssh://git@github.com/dlknapps/Thesis-Work.git@1dd4ca0f3e945ff9060d4929f9d30bbb97c489c8#egg=Thesis_Work
threadpoolctl==3.5.0
tifffile==2024.7.24
tinycss2==1.2.1
tk==0.1.0
tomli==2.0.1
toolz==0.12.0
torch==2.0.1
torchvision==0.15.2
tornado==6.2
tqdm==4.66.4
traitlets==5.9.0
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
tzdata==2023.3
uri-template==1.2.0
urllib3==1.26.20
uvicorn==0.23.2
virtualenv==20.26.3
wcwidth==0.2.6
webcolors==1.12
webencodings==0.5.1
websocket-client==1.5.1
Werkzeug==3.0.4
wrapt==1.16.0
y-py==0.5.5
yapf==0.40.2
ypy-websocket==0.8.2
zipp==3.15.0
zstandard==0.23.0
