Adafruit-Blinka==8.50.0
adafruit-circuitpython-busdevice==5.2.10
adafruit-circuitpython-connectionmanager==3.1.2
adafruit-circuitpython-requests==4.1.8
adafruit-circuitpython-typing==1.11.2
Adafruit-PlatformDetect==3.75.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
black==24.4.2
cfgv==3.4.0
click==8.1.7
distlib==0.3.8
filelock==3.15.4
identify==2.6.0
exceptiongroup==1.2.2
iniconfig==2.0.0
mypy-extensions==1.0.0
nodeenv==1.9.1
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
pre-commit==3.8.0
pyftdi==0.56.0
pyserial==3.5
pyusb==1.2.1
PyYAML==6.0.1
pluggy==1.5.0
pytest==8.3.2
tomli==2.0.1
typing_extensions==4.12.2
virtualenv==20.26.3
